*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.site {
  display: grid;
  grid-template-rows: auto 1r auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

:where(body) {
  hyphens: auto;
  overflow-wrap: break-word;
}

header {
  text-align: center;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

section {
  padding: 20px;
  background-color: lightblue;
  color: #333;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: seagreen;
}