*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 1rem;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

header {
  text-align: center;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

section {
  padding: 20px;
  background-color: lightblue;
  color: #333;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background-color: seagreen;
}